<div class="level-1-component">
  <h2>All Solvers</h2>
  <div class="description">{{solversDescription}}</div>
  <div class="controls">
    <button class="hvr-underline-from-center" (click)=addNewSolver()>Add Solver</button>
    <button class="hvr-underline-from-center" (click)=addDeleteSolver()
            [disabled]="getHasTableSelectedItems()">Delete Solver
    </button>
  </div>
  <div class="mat-app-background table">
    <app-unified-table [columns]=columns
                       [dataArray]=dataSource
                       [optionSizes]=optionSizes
                       [newOrUpdatedItems]=newOrUpdatedObjects
                       [deletedItems]=deletedItems
    >
    </app-unified-table>
  </div>
</div>
