table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  font-size: 14px;
}

.mat-cell {
  font-size: 12px;
}

mat-row {
  min-height: 32px;
}

.paginator {
  display: flex;
  justify-content: space-between;
}
