table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  font-size: 14px;
}

.mat-cell {
  font-size: 12px;
  padding-right: 1em;
}

td {
  word-break: break-word;
}

mat-row {
  min-height: 32px;
}

.paginator {
  display: flex;
  justify-content: space-between;
}

.table-filter {
  background-color: white;
}


.table-filter input {
  padding-left: 1em;
}


