<div class="level-1-component">
  <h2>Simulators</h2>
  <div class="controls">
    <button class="hvr-underline-from-center" (click)=startSolverSimulator()
            [disabled]=solverSimulatorActive>Start Solver Simulator
    </button>
    <button class="hvr-underline-from-center" (click)=stopSolverSimulator()
            [disabled]=!solverSimulatorActive>Stop Solver Simulator
    </button>
    <button class="hvr-underline-from-center" (click)=startDeviceSimulator()
            [disabled]=deviceSimulatorActive>Start Device Simulator
    </button>
    <button class="hvr-underline-from-center" (click)=stopDeviceSimulator()
            [disabled]=!deviceSimulatorActive>Stop Device Simulator
    </button>
  </div>
</div>
