<div class="whole-page-container mat-app-background">
  <div class="page-header">
    <h1>Issues Management System</h1>
  </div>

  <mat-sidenav-container class="center-container">
    <mat-sidenav opened mode="side">
      <div class="mat-nav-item">
        <a routerLink="/issues" routerLinkActive="active">Issues</a>
      </div>
      <div class="mat-nav-item">
        <a routerLink="/devices" routerLinkActive="active">Devices</a>
      </div>
      <div class="mat-nav-item">
        <a routerLink="/solvers" routerLinkActive="active">Solvers</a>
      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
