.whole-page-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.center-container {
  flex: 1 1 auto;
}

.mat-drawer {
  min-width: 150px;
  background-color: #ccc;
}


.mat-nav-item {
  min-height: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.page-header {
  border-bottom: 1px white solid;
  background-color: #666;
  text-align: center;
}

.page-header h1 {
  padding-left: 30px;
}

.page-footer {
  flex: 0 1 40px;
  border-top: 1px white solid;
  background-color: #666;
  text-align: center;
}


