<div class="container">
  <header><h1>Issues Management System</h1></header>

  <mat-sidenav-container class="center">
    <mat-sidenav opened mode="side" class="nav">
      <div class="mat-nav-item">
        <a routerLink="/issues" routerLinkActive="active" class="hvr-underline-from-center">Issues</a>
      </div>
      <div class="mat-nav-item ">
        <a routerLink="/devices" routerLinkActive="active" class="hvr-underline-from-center">Devices</a>
      </div>
      <div class="mat-nav-item ">
        <a routerLink="/solvers" routerLinkActive="active" class="hvr-underline-from-center">Solvers</a>
      </div>
      <div class="mat-nav-item ">
        <a routerLink="/simulators" routerLinkActive="active" class="hvr-underline-from-center">Simulators</a>
      </div>
    </mat-sidenav>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

  <footer><h3>Footer</h3></footer>
</div>
