.mat-form-field {
  display: block;
}

.dialog-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, max-content);
  gap: 1rem;
  margin-bottom: 1em;
  padding: 1em;
}

.dialog-bottom-buttons-layout {
  display: grid;
}
