<div class="level-1-component">
  <h2>All Issues</h2>
  <div class="description">{{issueDescription}}</div>
  <div class="controls">
    <button class="hvr-underline-from-center" (click)=getUpdatedIssues()>Get updated
      since {{lastPollTime |date:'hh:mm:ss'}}</button>

    <mat-slide-toggle
      (change)="toggleAutoUpdate($event)"
      [(ngModel)]="alive">
      {{ alive == true ? 'Stop' : 'Start' }} live update
    </mat-slide-toggle>

  </div>
  <div class="mat-app-background table">
    <app-unified-table [columns]=columns
                       [dataArray]=dataSource
                       [optionSizes]=optionSizes
                       [newOrUpdatedItems]=newOrUpdatedIssues
                       [deletedItems]=deletedItems
    >
    </app-unified-table>
  </div>
</div>
