<div class="level-1-component">
  <h2>All Issues</h2>
  <div class="controls">
    <button class="mat-raised-button mat-stroked-button" (click)=getUpdatedIssues()>Get Updated Issues
      since {{lastPollTime |date:'hh:mm:ss'}}</button>
    <button class="mat-raised-button mat-stroked-button"
            (click)=toggleAutoUpdate()>{{ alive == true ? 'stop' : 'start' }} live update
    </button>
  </div>
  <div class="mat-app-background table">
    <app-unified-table [columns]=columns
                       [dataArray]=dataSource
                       [optionSizes]=optionSizes
                       [newOrUpdatedItems]=newOrUpdatedIssues
                       [deletedItems]=deletedItems
    >
    </app-unified-table>
  </div>
</div>
