/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";*/


html, body {
  height: 100%;
}

.mat-drawer-content {
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}

div .body {
  height: 100%;
  overflow-y: hidden !important;
}


.horizontal-layout > *:last-child {
  margin-right: 30px !important;
  /*TODO:uses
   /*justify-content: space-between;*/

}

.horizontal-layout * {
  margin-left: 30px !important;
}


.vertical-layout > *:last-child {
  margin-bottom: 30px !important;
}

.vertical-layout * {
  margin-top: 30px !important;
}


.basic-container {
  padding: 30px;
}

.level-1-component h2 {
  padding-left: 30px;
}
